body {
    padding: 10px;
    margin: 0;
}

header {
    background-color: #008b66;
    color: #ffffff;
    padding: 10px;
    z-index: -1;
    position: relative;
}

h1 {
    font-weight: 100;
    margin: 0;
}

div {
    background-color: #dfe6e1;
    margin-left: 40px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    position: relative;
    top: -10px;
    padding: 5px;
}
