form {
   width: 500px; 
   background-color: rgb(0, 174, 255);
   border: 2px solid blue;
   box-sizing: border-box;
   color: white;
}
.reg {
    font: 18pt Arial;
}
div {
    margin: 20px 0 20px 20px;
    
}
.email {
    width: auto;
}
.email input {
    width: 420px; 
    box-sizing: border-box;      
}
.pass {
    float:left;
}
.pass input {
    width: 200px; 
    box-sizing: border-box;    
}
.sub {
    clear: both;
}
.sub input {
    background-color: moccasin;
}