form {
    width: 400px;
    background-color: hsl(197, 66%, 46%);
    border: 2px solid #256e9e;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial;
}

.reg {
    font-size: 22px;
}

div {
    margin: 20px 0 20px 20px;
}

p {
    margin: 0;
}

.email {
    width: auto;
}

.email input {
    width: 320px;
    box-sizing: border-box;
}

.pass {
    float: left;
}

.pass input {
    width: 150px;
    box-sizing: border-box;
}

.sub {
    clear: both;
}

.sub input {
    background-color: #fce6a0;
    padding: 5px 10px;
    border: 0;
}
